body
{
    background-color: black;

    display: block;

    margin: 0 auto;

    width: 576px;

    font-family: Arial, Helvetica, sans-serif;
}

form
{
    margin: 0 auto;

    width: 459px;
}

input, textarea
{
    width: 439px;

    height: 27px;

    background: #efefef;

    border: 1px solid #dedede;

    padding: 10px;

    margin-top: 5px;

    font-size: .9em;

    color: #3a3a3a;

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    border-radius: 5px;

    
}

input:focus, textarea:focus 
{
    border: 1px solid #97d6eb;
}

textarea
{
    height: 213px;
}

#submit 
{
    width: 127px;

    height: 38px;

    text-indent: -9999px;

    border: none;

    margin-top: 20px;

    cursor: pointer;

    
    
}

#submit:hover 
{
	opacity: .9;
}


.navBar
{
    text-align: center;

    font: bold;    

    font-size: 1.6em;
}

.navBar a
{
    padding-right: 1em;
}

a:link
{
    color: grey;

    background-color: transparent;

    text-decoration: none;
}

a:visited
{
    color: grey;

    background-color: transparent;

    text-decoration: none;
}

a:hover
{
    color: lightskyblue;

    background-color: transparent;

    text-decoration: underline;
}

label
{
    display: block;

    margin-top: 20px;

    letter-spacing: 2px;

    color: lightgray;
}

